.u-section-1 {
  background-image: none;
  min-height: 794px;
}

.u-section-1 .u-group-1 {
  margin-top: 1px;
  margin-bottom: 0;
  background-image: none;
  min-height: 724px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 10px;
  height: 500px;
  margin: 0 357px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 10px;
  height: 126px;
  margin: 30px 357px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 496px;
  height: 15px;
  margin: -15px 320px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 420px;
  height: 15px;
  margin: -15px auto 0 -17px;
}

.u-section-1 .u-shape-5 {
  width: 219px;
  height: 159px;
  background-image: none;
  margin: -174px auto 0 0;
}

.u-section-1 .u-shape-6 {
  width: 376px;
  height: 161px;
  background-image: none;
  margin: -642px auto 0 0;
}

.u-section-1 .u-shape-7 {
  width: 255px;
  height: 160px;
  background-image: none;
  margin: 161px auto 0 0;
}

.u-section-1 .u-shape-8 {
  width: 272px;
  height: 159px;
  margin: 0 371px 0 auto;
}

.u-section-1 .u-shape-9 {
  width: 222px;
  height: 160px;
  background-image: none;
  margin: -160px auto 0 219px;
}

.u-section-1 .u-shape-10 {
  width: 220px;
  height: 160px;
  margin: -159px auto 0 441px;
}

.u-section-1 .u-shape-11 {
  width: 255px;
  height: 161px;
  margin: -481px auto 0 0;
}

.u-section-1 .u-shape-12 {
  width: 273px;
  height: 151px;
  margin: 8px 367px 0 auto;
}

.u-section-1 .u-shape-13 {
  width: 273px;
  height: 159px;
  margin: -311px 367px 0 auto;
}

.u-section-1 .u-shape-14 {
  width: 294px;
  height: 170px;
  margin: -330px auto 0;
}

.u-section-1 .u-shape-15 {
  width: 488px;
  height: 67px;
  margin: 486px auto 0 0;
}

.u-section-1 .u-shape-16 {
  width: 488px;
  height: 67px;
  margin: -67px 324px 0 auto;
}

.u-section-1 .u-shape-17 {
  width: 324px;
  height: 67px;
  margin: -67px 0 0 auto;
}

.u-section-1 .u-shape-18 {
  width: 270px;
  height: 15px;
  margin: -82px 0 0 auto;
}

.u-section-1 .u-shape-19 {
  width: 396px;
  height: 103px;
  background-image: none;
  margin: -254px auto 0 165px;
}

.u-section-1 .u-shape-20 {
  width: 100px;
  height: 158px;
  background-image: none;
  margin: -103px auto 0 561px;
}

.u-section-1 .u-shape-21 {
  width: 121px;
  height: 285px;
  background-image: none;
  margin: -443px auto 0 255px;
}

.u-section-1 .u-shape-22 {
  width: 121px;
  height: 285px;
  background-image: none;
  margin: -285px 541px 0 auto;
}

.u-section-1 .u-shape-23 {
  width: 512px;
  height: 100px;
  background-image: none;
  margin: -403px auto 0 354px;
}

.u-section-1 .u-shape-24 {
  width: 131px;
  height: 303px;
  background-image: none;
  margin: 0 auto 0 506px;
}

.u-section-1 .u-shape-25 {
  width: 130px;
  height: 303px;
  background-image: none;
  margin: -303px auto 0 376px;
}

.u-section-1 .u-shape-26 {
  width: 28px;
  height: 75px;
  background-image: none;
  margin: -205px auto 0 227px;
}

.u-section-1 .u-shape-27 {
  width: 512px;
  height: 39px;
  margin: -242px auto 0 354px;
}

.u-section-1 .u-shape-28 {
  width: 48px;
  height: 285px;
  margin: 48px 577px 0 auto;
}

.u-section-1 .u-shape-29 {
  width: 47px;
  height: 285px;
  margin: -285px auto 0 292px;
}

.u-section-1 .u-shape-30 {
  width: 396px;
  height: 33px;
  margin: 35px auto 0 165px;
}

.u-section-1 .u-shape-31 {
  width: 39px;
  height: 158px;
  margin: -68px auto 0 591px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -153px 1073px 0 173px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 11px 1073px 0 173px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 7px 1073px 0 173px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 22px;
  height: 56px;
  margin: -338px auto 0 307px;
}

.u-section-1 .u-image-1 {
  width: 56px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-rotation-parent-2 {
  width: 24px;
  height: 62px;
  margin: -62px auto 0 351px;
}

.u-section-1 .u-image-2 {
  width: 62px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-rotation-parent-3 {
  width: 21px;
  height: 56px;
  margin: -58px auto 0 271px;
}

.u-section-1 .u-image-3 {
  width: 56px;
  height: 21px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -212px 885px 0 361px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 8px 885px 0 361px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 8px 885px 0 361px;
}

.u-section-1 .u-rotation-parent-4 {
  width: 23px;
  height: 59px;
  margin: 245px 636px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 59px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-rotation-parent-5 {
  width: 20px;
  height: 50px;
  margin: -54px 597px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 50px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-rotation-parent-6 {
  width: 20px;
  height: 52px;
  margin: -50px 554px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 52px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-rotation-parent-7 {
  width: 23px;
  height: 61px;
  margin: 7px auto 0 568px;
}

.u-section-1 .u-image-7 {
  width: 61px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-rotation-parent-8 {
  width: 24px;
  height: 61px;
  margin: -58px auto 0 596px;
}

.u-section-1 .u-image-8 {
  width: 61px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-rotation-parent-9 {
  width: 23px;
  height: 59px;
  margin: -63px auto 0 633px;
}

.u-section-1 .u-image-9 {
  width: 59px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-shape-32 {
  width: 37px;
  height: 515px;
  background-image: none;
  margin: -338px auto 0 0;
}

.u-section-1 .u-shape-33 {
  width: 36px;
  height: 401px;
  background-image: none;
  margin: -542px 368px 0 auto;
}

.u-section-1 .u-shape-34 {
  width: 5px;
  height: 400px;
  background-image: none;
  margin: -401px 403px 0 auto;
}

.u-section-1 .u-shape-35 {
  width: 5px;
  height: 511px;
  background-image: none;
  margin: -373px auto 0 36px;
}

.u-section-1 .u-shape-36 {
  width: 227px;
  height: 32px;
  background-image: none;
  margin: -637px auto 0 -4px;
}

.u-section-1 .u-shape-37 {
  width: 227px;
  height: 5px;
  background-image: none;
  margin: 0 auto 0 -4px;
}

.u-section-1 .u-shape-38 {
  width: 19px;
  height: 51px;
  background-image: none;
  margin: 99px auto 0 56px;
}

.u-section-1 .u-shape-39 {
  width: 19px;
  height: 108px;
  background-image: none;
  margin: 18px auto 0 56px;
}

.u-section-1 .u-shape-40 {
  width: 19px;
  height: 149px;
  background-image: none;
  margin: 26px auto 0 56px;
}

.u-section-1 .u-shape-41 {
  width: 19px;
  height: 115px;
  background-image: none;
  margin: 27px auto 0 56px;
}

.u-section-1 .u-shape-42 {
  width: 8px;
  height: 69px;
  background-image: none;
  margin: -350px auto 0 244px;
}

.u-section-1 .u-shape-43 {
  width: 7px;
  height: 52px;
  background-image: none;
  margin: -215px auto 0 245px;
}

.u-section-1 .u-rotation-parent-10 {
  width: 82px;
  height: 15px;
  margin: -81px auto 0 457px;
}

.u-section-1 .u-shape-44 {
  width: 7px;
  height: 100px;
  background-image: none;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-shape-45 {
  width: 7px;
  height: 52px;
  background-image: none;
  margin: 8px 532px 0 auto;
}

.u-section-1 .u-shape-46 {
  width: 7px;
  height: 52px;
  background-image: none;
  margin: 149px 532px 0 auto;
}

.u-section-1 .u-shape-47 {
  width: 7px;
  height: 52px;
  background-image: none;
  margin: -181px 532px 0 auto;
}

.u-section-1 .u-shape-48 {
  width: 121px;
  height: 36px;
  background-image: none;
  margin: -134px auto 0 255px;
}

.u-section-1 .u-shape-49 {
  width: 41px;
  height: 103px;
  background-image: none;
  margin: 247px auto 0 520px;
}

.u-section-1 .u-shape-50 {
  width: 100px;
  height: 33px;
  background-image: none;
  margin: 22px auto 0 561px;
}

.u-section-1 .u-shape-51 {
  width: 121px;
  height: 32px;
  background-image: none;
  margin: -296px 541px 0 auto;
}

.u-section-1 .u-shape-52 {
  width: 36px;
  height: 112px;
  background-image: none;
  margin: -297px auto 0 618px;
}

.u-section-1 .u-shape-53 {
  width: 41px;
  height: 103px;
  background-image: none;
  margin: 289px auto 0 234px;
}

.u-section-1 .u-shape-54 {
  width: 78px;
  height: 32px;
  background-image: none;
  margin: 0 auto 0 401px;
}

.u-section-1 .u-shape-55 {
  width: 186px;
  height: 159px;
  margin: -54px 170px 0 auto;
}

.u-section-1 .u-shape-56 {
  width: 170px;
  height: 159px;
  margin: -159px 0 0 auto;
}

.u-section-1 .u-shape-57 {
  width: 355px;
  height: 219px;
  margin: -379px 0 0 auto;
}

.u-section-1 .u-shape-58 {
  width: 355px;
  height: 258px;
  margin: -477px 2px 0 auto;
}

.u-section-1 .u-shape-59 {
  width: 146px;
  height: 216px;
  margin: -243px 12px 0 auto;
}

.u-section-1 .u-shape-60 {
  width: 233px;
  height: 219px;
  margin: 25px 52px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -204px 68px 0 1059px;
}

.u-section-1 .u-shape-61 {
  height: 67px;
  margin-top: 2px;
  margin-bottom: 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 1911px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 20px;
    margin-right: 320px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-9 {
    margin-top: 20px;
    margin-right: 371px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-10 {
    width: 181px;
  }

  .u-section-1 .u-shape-16 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 973px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 973px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 973px;
    margin-left: 73px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 369px;
  }

  .u-section-1 .u-rotation-parent-2 {
    height: 63px;
  }

  .u-section-1 .u-image-2 {
    width: 112px;
    height: 43px;
    margin-top: -53px;
    margin-bottom: 0;
    margin-left: 249px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: -59px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 785px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 785px;
    margin-left: 261px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 785px;
    margin-left: 261px;
  }

  .u-section-1 .u-rotation-parent-4 {
    height: 60px;
  }

  .u-section-1 .u-image-4 {
    width: 60px;
  }

  .u-section-1 .u-rotation-parent-5 {
    height: 51px;
  }

  .u-section-1 .u-image-5 {
    width: 51px;
  }

  .u-section-1 .u-rotation-parent-6 {
    height: 53px;
    margin-top: -51px;
  }

  .u-section-1 .u-image-6 {
    width: 53px;
  }

  .u-section-1 .u-rotation-parent-9 {
    height: 60px;
  }

  .u-section-1 .u-image-9 {
    width: 60px;
  }

  .u-section-1 .u-shape-32 {
    margin-top: -339px;
  }

  .u-section-1 .u-shape-44 {
    width: 15px;
    height: 82px;
    margin-top: -78px;
    margin-bottom: 0;
    margin-left: 426px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 927px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 724px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: 224px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -15px;
    margin-right: auto;
    margin-left: -17px;
  }

  .u-section-1 .u-shape-9 {
    margin-top: -160px;
    margin-right: auto;
    margin-left: 219px;
  }

  .u-section-1 .u-shape-10 {
    width: 220px;
  }

  .u-section-1 .u-shape-16 {
    margin-top: -67px;
    margin-right: 232px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-23 {
    margin-left: 208px;
  }

  .u-section-1 .u-shape-27 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 826px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 826px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 826px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 675px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 675px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 675px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 707px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-3 {
    margin-right: 44px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 268px;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 320px;
  }

  .u-section-1 .u-shape-12 {
    margin-right: 267px;
  }

  .u-section-1 .u-shape-13 {
    margin-right: 267px;
  }

  .u-section-1 .u-shape-16 {
    margin-right: 52px;
  }

  .u-section-1 .u-shape-19 {
    margin-left: 144px;
  }

  .u-section-1 .u-shape-20 {
    margin-left: 440px;
  }

  .u-section-1 .u-shape-22 {
    margin-right: 419px;
  }

  .u-section-1 .u-shape-23 {
    margin-left: 28px;
  }

  .u-section-1 .u-shape-24 {
    margin-left: 409px;
  }

  .u-section-1 .u-shape-27 {
    margin-left: 28px;
  }

  .u-section-1 .u-shape-28 {
    margin-right: 492px;
  }

  .u-section-1 .u-shape-30 {
    margin-left: 144px;
  }

  .u-section-1 .u-shape-31 {
    margin-left: 501px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 646px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 646px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 646px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 585px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 585px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 585px;
    margin-left: 61px;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-right: 517px;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-right: 520px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-right: 520px;
  }

  .u-section-1 .u-rotation-parent-7 {
    margin-left: 517px;
  }

  .u-section-1 .u-rotation-parent-8 {
    margin-left: 516px;
  }

  .u-section-1 .u-rotation-parent-9 {
    margin-left: 517px;
  }

  .u-section-1 .u-shape-49 {
    margin-left: 499px;
  }

  .u-section-1 .u-shape-50 {
    margin-left: 440px;
  }

  .u-section-1 .u-shape-51 {
    margin-right: 419px;
  }

  .u-section-1 .u-shape-52 {
    margin-left: 504px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 527px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-right: 330px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 330px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
  }

  .u-section-1 .u-shape-8 {
    margin-right: 68px;
  }

  .u-section-1 .u-shape-9 {
    margin-left: 118px;
  }

  .u-section-1 .u-shape-10 {
    margin-left: 120px;
  }

  .u-section-1 .u-shape-12 {
    margin-right: 67px;
  }

  .u-section-1 .u-shape-13 {
    margin-right: 67px;
  }

  .u-section-1 .u-shape-15 {
    width: 340px;
  }

  .u-section-1 .u-shape-16 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-19 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-20 {
    margin-left: 240px;
  }

  .u-section-1 .u-shape-21 {
    margin-left: 219px;
  }

  .u-section-1 .u-shape-22 {
    margin-right: 219px;
  }

  .u-section-1 .u-shape-23 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-24 {
    margin-left: 209px;
  }

  .u-section-1 .u-shape-25 {
    margin-left: 210px;
  }

  .u-section-1 .u-shape-27 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-28 {
    margin-right: 292px;
  }

  .u-section-1 .u-shape-30 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-31 {
    margin-left: 301px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 446px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 446px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 446px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 263px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-left: 316px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 446px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 446px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 446px;
    margin-left: 0;
  }

  .u-section-1 .u-rotation-parent-4 {
    margin-right: 317px;
  }

  .u-section-1 .u-rotation-parent-5 {
    margin-right: 320px;
  }

  .u-section-1 .u-rotation-parent-6 {
    margin-right: 320px;
  }

  .u-section-1 .u-rotation-parent-7 {
    margin-left: 317px;
  }

  .u-section-1 .u-rotation-parent-8 {
    margin-left: 316px;
  }

  .u-section-1 .u-rotation-parent-9 {
    margin-left: 317px;
  }

  .u-section-1 .u-shape-33 {
    margin-right: 304px;
  }

  .u-section-1 .u-shape-34 {
    margin-right: 335px;
  }

  .u-section-1 .u-rotation-parent-10 {
    margin-left: 258px;
  }

  .u-section-1 .u-shape-44 {
    margin-left: 333px;
  }

  .u-section-1 .u-shape-45 {
    margin-right: 333px;
  }

  .u-section-1 .u-shape-46 {
    margin-right: 333px;
  }

  .u-section-1 .u-shape-47 {
    margin-right: 333px;
  }

  .u-section-1 .u-shape-48 {
    margin-left: 219px;
  }

  .u-section-1 .u-shape-49 {
    margin-left: 299px;
  }

  .u-section-1 .u-shape-50 {
    margin-left: 240px;
  }

  .u-section-1 .u-shape-51 {
    margin-right: 219px;
  }

  .u-section-1 .u-shape-52 {
    margin-left: 304px;
  }

  .u-section-1 .u-shape-54 {
    margin-left: 262px;
  }

  .u-section-1 .u-shape-55 {
    margin-right: 154px;
  }

  .u-section-1 .u-shape-57 {
    width: 340px;
  }

  .u-section-1 .u-shape-58 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 327px;
  }
}